<section class="flex flex-col h-screen">
  <app-header></app-header>
  <div class="h-full flex px-32 py-16">
    <div class="flex flex-col w-1/5 mr-16 my-4">
      <div class="flex flex-col mb-4">
        <h1 class="mb-4">"Camisa"</h1>
        <h2 class="italic text-[#606060] mb-4">9 resultados</h2>
        <div class="w-full h-[0.5px] bg-[#E4E4E4]"></div>
      </div>
      <div class="flex flex-col mb-4">
        <h1 class="mb-4">Cor</h1>
        <h2 class="italic text-[#606060]">Vermelho</h2>
        <h2 class="italic text-[#606060]">Verde</h2>
        <h2 class="italic text-[#606060]">Azul</h2>
      </div>
      <div class="flex flex-col">
        <h1 class="mb-4">Tamanho</h1>
        <h2 class="italic text-[#606060] mb-4">GG</h2>
        <h2 class="italic text-[#606060] mb-4">G</h2>
        <h2 class="italic text-[#606060] mb-4">M</h2>
        <h2 class="italic text-[#606060] mb-4">P</h2>
      </div>
    </div>
    <div>
      <div>
        <div class="flex items-center mb-8">
          <h1 class="text-b2blue-700 font-bold mr-8">Selecionar todos</h1>
          <button class="bg-b2blue-700 text-white rounded-lg drop-shadow-lg">
            <h1 class="py-3 px-4">Adicionar selecionados</h1>
          </button>
        </div>

        <div *ngFor="let product of products$ | async">
          <div class="flex justify-between mb-8">
            <div class="flex items-center">
              <input class="mr-4" type="checkbox" />
              <div class="flex-shrink-0 self-start mr-4 w-48 h-48">
                <img
                  src="{{ product.imgUrl }}"
                  alt="{{ product.description }}" />
              </div>
            </div>
            <div class="flex">
              <div class="flex w-2/3">
                <div class="flex flex-col">
                  <h1 class="text-3xl font-saira">{{ product.description }}</h1>
                  <h2 class="text-lg text-[#505050] font-saira italic my-4">
                    R${{ product.price }} / 1 UN
                  </h2>
                  <h3 class="text-lg font-saira overflow-ellipsis">
                    {{ product.longDescription }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="flex flex-col items-end w-1/2">
              <mat-icon class="text-b2green-400">favorite</mat-icon>
              <button
                class="flex bg-b2blue-700 text-white rounded-lg drop-shadow-lg my-8">
                <h1 class="py-3 px-12">+ Carrinho</h1>
              </button>
            </div>
          </div>
          <div class="h-[0.5px] w-full bg-gray-100 my-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
