<section class="flex flex-col h-screen">
  <app-header></app-header>
  <div class="px-64 py-8">
    <ul>
      <li *ngFor="let order of orders$ | async">
        <h1>Histórico de compras</h1>
        <h2>Pedido ID: 000{{ order.id }}</h2>
        <div *ngFor="let items of order.items">
          <h1>{{ items.product.description }}</h1>
          <h1>{{ items.product.price }}</h1>
          <h1>{{ items.quantity }}</h1>
        </div>
      </li>
    </ul>
  </div>
  <div class="flex flex-col justify-center items-center h-full">
    <ng-container *ngIf="(orders$ | async)?.length === 0">
      <img
        class="w-64 md:mb-0"
        src="assets/img/svg/empty-order.svg"
        alt="Empty Purchase History" />
      <h2 class="mt-8 text-xl text-b2blue-700">
        Não há nada por aqui. Que tal realizar algumas compras?
      </h2>
    </ng-container>
  </div>
</section>
